<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - appAgencia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/appAgencia.styles.css" asp-append-version="true" />
</head>
<body>









 
        <main role="main" class="pb-3">
            @RenderBody()
        </main>












    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="images/logo-lite.png">
                    <p>Descubre Perú con nosotros y vive experiencias inolvidables. 
                        Ofrecemos tours seguros, organizados y llenos de aventura. ¡Tu próxima gran historia comienza aquí!</p>
                </div>
                <div class="col-md-3">
                    <h3>Link interno</h3>
                    <li>Inicio</li>
                    <li>Sobre la agencia</li>
                    <li>Listado de tours</li>
                    <li>Blog</li>
                    <li>Contacto</li>
                </div>
                <div class="col-md-3">
                    <h3>Otras secciones</h3>
                    <li>Registra tu cuenta</li>
                    <li>Preguntas frecuentes</li>
                    <li>Términos y condiciones</li>
                    <li>Medios de pago</li>
                    <li>Reseñas</li>
                </div>
                <div class="col-md-3">
                    <h3>Contacto</h3>
                </div>
            </div>

            2025 - AndeanExplorer 
        </div>
        
    </footer>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
